.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    position: absolute;
    z-index: 1;
}

.defaultContainer > p {
    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    font-size: 26px;
}

.clickedContainer > p {
    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    font-size: 26px;
    color: var(--strong-color);
}

.defaultContainer > .button {
    width: 270px;
    height: 270px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: var(--main-color);

    display: flex;
    justify-content: center;

    color: white;
    font-family: var(--Modak);
    font-weight: var(--Regular);
    font-size: 200px;
}

.clickedContainer > .button {
    width: 270px;
    height: 270px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    background-color: var(--strong-color);

    display: flex;
    justify-content: center;

    color: white;
    font-family: var(--Modak);
    font-weight: var(--Regular);
    font-size: 200px;
}