.homeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;
}

.homeIcon p {
    font-weight: var(--Medium);
    font-size: 23px;
    color: var(--strong-color);
}