.nextIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;

    font-family: var(--pretendard-font);
    font-weight: var(--Medium);
    font-size: 30px;
}